body {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

.reset-form {
  max-width: 90vw;
  width: 400px;
  margin: 5rem auto;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 3rem 4rem;
}
.form-label {
  display: block;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.form-input,
.form-textarea {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  background: #f8fafc;
  border: 1px solid #dcecfc;
}

.form-row {
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #333;
  }
}
