.users {
  display: flex;
  flex-wrap: wrap;
  max-height: 120px;
  overflow-y: auto;
  margin-bottom: 1rem;
}
.user {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  p {
    text-transform: capitalize;
    font-size: 1.1rem;
  }
  button {
    padding: 5px 10px;
    font-size: 1.1rem;
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
  }
  .removeBtn {
    color: red;
  }
}
